LAUNCHER_PORT=3000
LAUNCHER_AUTO_UPDATE=1
LAUNCHER_GITHUB_REPO=10sorlabs/AI1-Model-Grabber
LAUNCHER_GITHUB_REF=main
COMFYUI_DIR=/workspace/runpod-slim/ComfyUI
COMFYUI_PUBLIC_URL=
JUPYTER_PASSWORD=
HF_TOKEN=
CIVITAI_TOKEN=
GITHUB_TOKEN=

